*{
    margin:0px;
    padding: 0px;
    
    
}
.main{
    color: blue;
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: yellow;
}
.form{
    background-color: aliceblue;
    width:40%;
    height:100%;
}
h1{
    margin:15px;
}
.msg{
    margin: 5px;
    margin-left: 15px;
}
.register{
    margin-left:15px;
    margin-top: 5px;
    /* padding: 5px; */
    margin: 15px;
}
label{
   margin-bottom:100px ; 
}


